<%-include('common/head')%>
   
<%-include('common/navbar')%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Post Your Content</h1>
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <form action="/add_post" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Post Title</label><br>
                          <input type="text" class="form-control" name="title" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter post title">
                        
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Post Subtitle</label><br>
                          <input type="text" class="form-control" name="subtitle" id="exampleInputPassword1" placeholder="enter post sub title">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Enter Post</label><br>
                        <textarea name="editor1"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Post image:</label><br>
                        <input type="file" class="form-control" name="image" id="exampleInputPassword1" placeholder="enter post sub title">
                      </div>
                      <p>
                        <button type="submit" class="btn btn-primary">Post</button>
                      </form>
                </div>
            </div>
        </article>
        <!-- Footer-->
        <%-include('./common/footer')%>
        <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'editor1' );
</script>